* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0b2434;
  padding: 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter, sans-serif;
}

div#root {
  height: 100%;
  width: 100%;
  max-width: 520px;
  max-height: 520px;
}

main {
  height: 100%;
  background-color: #f5f5f5;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  /* gap: 40px; */
  align-items: center;
  justify-content: center;
}

.title {
    font-size: 40px;
    margin: 0;
} 

.instructions {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-bottom: 40px;
    text-align: center;
    color:#4A4E74;
    padding: 20px
;
}

.dice-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.dice-container button {
  height: 54px;
  width: 54px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  background-color: white;
  border: none;
  border-radius: 4px;
  font-family: Inter, sans-serif;
  font-size: 1.75rem;
  font-weight: bold;
  cursor: pointer;
}

.isHeld {
  background-color: #59E391;
}

.notHeld {
  background-color: white;
}

.roll-Btn {
  background-color: #5035FF;
  height: 35px;
  width: 112px;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  font-family: Inter, sans-serif;
  cursor: pointer;
  margin-top: 16px;
  /* padding: 4px 8px; */
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}